<h1>Here's a list of all the changes made to the database.</h1>
<ul>  
  <% Change.all.each do |change| %>
    <li><%= change.change_id%> - <%= change.change_description %></a></li>
  <% end %>
</ul>

<a href="/user_changes">Return to User Changes</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>