<h1>Here's a list of countries in the database.</h1>
<ul>  
  <% Country.all.each do |country| %>
    <li><%= country.country_name %></a></li>
  <% end %>
</ul>

<a href="/saint_countries">Return to Saint Countries</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>