<h1>Which country do you want to delete?</h1>

<form action="/delete_country">
  <select name ="country_id">
    <% Country.all.each do |country| %> 
      <option value="<%= country.id %>"><%= country.country_name %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<a href="saint_countries">Return to Saint Countries</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>