<h1>Which category do you want to delete?</h1>

<form action="/delete_category">
  <select name ="category_id">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.category_name %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<a href="saint_categories">Return to Saint Categories</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>