<h1>Welcome to Saint Manager 2.0</h1>

<h3>Please select your user name, or create a new user</h3>

<form action="/user">
  <select name ="user_id">
    <% User.all.each do |user| %> 
      <option value="<%= user.id %>"><%= user.user_name %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<p><a href="/new_user_form">New User?</a></p>