<h1>Welcome to Saint Manager 2.0</h1>

<h3>Please enter your username and password.</h3>

<p><%= @errors%></p>
<form action="/user">
  <input type="text" placeholder="Username" name="user_name" value="<%= params["user_name"]%>">
  <input type="text" placeholder="Password" name="password" value="<%= params["password"] %>">
  <input type="submit">
</form>

<p><a href="/new_form/user">New User?</a></p>