<p><%= @message %></p>

<h1>What would you like to work on?</h1>

<ul>
  <li><a href="/all/saints">See a list of saints in the database.</a></li>
  <li><a href="/where_keyword_form">See a list of saints with a particular keyword in their description.</a></li>
  <li><a href="/new_form/saint">Add a saint.</a></li>
  <li><a href="/update_form/saint">Update a saint's information.</a></li>
  <li><a href="/see_saint_list">See information on a particular saint.</a></li>
  <li><a href="/delete/saint">Delete a saint from the database</a></li>
</ul>

<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>