<form action="/login_form_do">
  <input type="text" placeholder="User Name" name="user_name">
  <input type="text" placeholder= "Password" name="password">
  <input type="submit">
</form>

<p><a href="/new_user_form">New User?</a></p>