<h1>What would you like to work on?</h1>

<ul>
  <li><a href="/saint_countries">Saint Countries</a></li>
  <li><a href="/saint_categories">Saint Categories</a></li>
  <li><a href="/individual_saints">Individual Saints</a></li>
  <li><a href="/user_changes">User Changes</a></li>
</ul>