<form action="/new_country_form_do">
  <input type="text" placeholder="New Country Name" name="country_name">
  <input type="text" placeholder= "New Country Description" name="description">
  <input type="submit">
</form>