<h1>Please enter all the information below and hit submit.</h1>

<form action="/new_country_form_do">
  <input type="text" placeholder="New Country Name" name="country_name">
  <input type="text" placeholder= "New Country Description" name="description">
  <input type="submit">
</form>

<a href="/saint_countries">Return to Saint Countries</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>