<h1>What would you like to work on?</h1>

<ul>
  <li><a href="/all_countries">See a list of countries in the database</a></li>
  <li><a href="/new_country_form">Add a country</a></li>
  <li><a href="/update_country_list">Update a countries information</a></li>
  <li><a href="/where_country_list">See a list of saints for a particular country</a></li>
  <li><a href="/delete_country_list">Delete a country from the database</a></li>
</ul>

<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>