<p><%= @message %></p>

<h1>What would you like to work on?</h1>

<ul>
  <li><a href="/all/categories">See a list of categories in the database</a></li>
  <li><a href="/new_form/category">Add a category</a></li>
  <li><a href="/where/category">See a list of saints for a particular category</a></li>
  <li><a href="/delete/category">Delete a category from the database</a></li>
</ul>

<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>