<p><%= @message %></p>

<h1>What would you like to work on?</h1>

<ul>
  <li><a href="/all/countries">See a list of countries in the database</a></li>
  <li><a href="/new_form/country">Add a country</a></li>
  <li><a href="/update_form/country">Update a country's information</a></li>
  <li><a href="/where/country">See a list of saints for a particular country</a></li>
  <li><a href="/delete/country">Delete a country from the database</a></li>
</ul>

<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>