<h1>What would you like to update?</h1>

<ul>
  <li><a href="/update_country_name_form/<% params[:id] %>">The country's name'</a></li>
  <li><a href="/update_country_description_form/<% params[:id] %>">The country's description'</a></li>
</ul>