<h1>Only enter information into the fields you want to change.</h1>

<form action="/change_country_information_form_do">
  <input type="text" placeholder="Updated Country Name" name="country_name">
  <input type="text" placeholder= "Updated Country Description" name="country_description">
  <input type="submit">
</form>