<h1>What would you like to see?</h1>

<ul>
  <li><a href="/all/changes">See a list of all changes made to the database</a></li>
  <li><a href="/where/user">See a list of chagnes you've made to the database'</a></li>
</ul>


<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>