<h1>Please enter the "keyword" you would like to search saint descriptions for.</h1>

<form action="where_keyword_form_do">
  <input type="text" placeholder="Keyword" name="keyword">
  <input type="submit">
</form>

<a href="/individual_saints">Return to Individual Saints</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>