<h1>Here is the list of saints with that keyword in their description</h1>

<ul>  
  <% @list.each do |x| %>
    <li><%= x %></li>
  <% end %>
</ul>

<a href="/individual_saints">Return to Individuals Saints</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>