<h1>Here they are</h1>

<ul>  
  <% Saint.where("category_id", params["category_id"]).each do |saint| %>
    <li><%= saint.saint_name %></li>
  <% end %>
</ul>

<a href="/saint_categories">Return to Saint Categories</a></b>
<a href="/main_menu">Return to Main Menu</a></b>
<a href="/home">Logout?</a>